<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

    <h1>About Author</h1>
    <img class="img" src="images/hideaki-anno-padre.webp" width="900" height="600" alt="">
<h1> Hideaki Anno </h1>
<h2>Quick bio</h2> 
<div>
    <p> El padre de Hideaki Anno fue el culpable de la existencia de Evangelion <br>
    ay pocas cosas de las que no se hayan hablado ya de Evangelion, <br>
    pero hay una de la que no se ha hablado lo suficiente: la relación que Hideaki <br>
    Anno tuvo con su padre y cómo esta fue, finalmente, la razón de hacer su obra maestra. <br>
    En una entrevista publicada en 1999, Hideaki Anno explicó un poco la relación que tenía con él <br>
    y cómo esta fue determinante para poder crear Evangelion, no precisamente por una bella influencia familiar, <br>
    sino por un trauma que acarreó desde pequeño.
    </p>
    <ul>
    <a href="homepage"><li>Home</li></a> 
    <a href="works"><li>Collection</li></a> 
    </ul>
</div>

</body>
</html>