<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works by Hideaki Anno</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <h1>Filmography</h1>
        <ul>
            <li>Aim for the Top! Gunbuster (1988–1989)</li>
            <li>Nadia: The Secret of Blue Water (1990–1991)</li>
            <li>Neon Genesis Evangelion (1995–1996)</li>
            <li>Neon Genesis Evangelion: Death & Rebirth (1997)</li>
            <li>The End of Evangelion (1997)</li>
            <li>Love & Pop (1998)</li>
            <li>Kare Kano (His and Her Circumstances) (1998–1999)</li>
            <li>Shiki-Jitsu (2000)</li>
        </ul>
        <div>
            <img src="images/the_end_of_evangelion.webp" width="600" height="600" alt="">
            <img src="images/h4ODTiT.webp"width="600" height="600" alt="">
        </div>
        <div>
            <ul>
                <a href="homepage"><li>Home</li></a>
                <a href="about"><li>about Author</li></a>
            </ul>
        </div>
    
</body>
</html>